body {
    background-color: #f3f3f3;
    margin: 0;
    font-family: 'Anta', sans-serif;
}

header h1{
    font-family: 'Jacquarda Bastarda 9', serif;
}


header {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 1.25em 0;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 1.25em;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

header ul li a:hover {
    color: #ffc107;
}

.header h2{
    font-family: 'Anta', sans-serif;
    font-size: 6em;
    color: black;
    margin-bottom: 0.25em;
    text-align: center;
}

.fullstop{
    color: #ffc107;
}

.header p{
    font-family: 'Anta', sans-serif;
    font-size: 1.5em;
    margin-top: 0;
    margin: 0;
    text-align: center;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
}
.cont li{
    list-style-type: none;
    display: flex;
}

.linkedin, .gmail, .github{
    width: 5em;
    height: 5em;
    align-items: center;
}

.cont ul li {
    display: inline;
    margin: 5em;
}

h1{
    text-align: center;
}


footer{
    text-align: center;
}